table.listing, table.listing tbody, table.listing td.end-of-section {
    border-bottom: 1px solid #d2d2d2;
}
table.listing th {
    font-weight: bold;
}
th.ascending {
	background-image: url(/@@/arrowDown);
	background-position: center right;
	background-repeat: no-repeat;
}

th.descending{
	background-image: url(/@@/arrowUp);
	background-position: center right;
	background-repeat: no-repeat;
}
table.listing thead, table.listing thead th, table.listing tfoot tr, table.listing tr.thead th {
    border: 1px solid #d2d2d2;
    background-color: #fff;
}
table.listing th, table.listing td {
    padding: 0.25em;
}
table.listing thead th, table.listing tr.thead th {
    font-size: 108%;
    white-space: nowrap;
}
table.listing td {
    border: 1px #d2d2d2;
    border-style: dotted none none none;
}
table.listing img {
    vertical-align: top;
    padding-top: 2px;
}

.breadcrumbs {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    clear:both;
    font-size:77%;
}
.breadcrumbs li {
    display: inline;
    padding: 0;
}
.breadcrumbs li a {
	color: #494949;
}
.breadcrumbs li:after {
	content: "\00BB \0020";
}
.breadcrumbs li:last-child {
	font-weight: bold;
}
.breadcrumbs li:last-child:after {
	content:"";
}

.yui-d0 {
    width: 950px;
    margin: 0 auto;
}

.yui-d0 h1 {
    margin: 1.5em 0 0 0;
    font-size: 200%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.yui-d0 table {
    font-size: 93%;
}

:link,:visited { color: #03a; }
:link:active,:visited:active { color: #36c; }

thead th, tr.thead th {
    text-align: center;
    vertical-align: bottom;
}

table.sortable a.sortheader {
    color: #666;
    display: block;
}

table.sortable img.sortarrow {
    padding-left: 2px;
}

.sortkey, .revsortkey {
    display: none;
}
